.container {
	width: 90%;
	margin: 0 auto;

	@media screen and (min-width: 769px){
		width: 730px;
	}

	@media screen and (min-width: 993px){
		width: 930px;
	}
}

.row {
	margin: 0 -15px;
	.col {
		float: left;
		padding: 0 15px;

		&.no-pl {
			padding-left: 0;
		}

		&.no-pr {
			padding-right: 0;
		}
	}

	&:after {
		@include clear(0);
	}
}

.row-12 {
	@media screen and (max-width: 768px){
		@for $i from 1 to 13 {
			$w: ($i/12)*100%;
	  		.col-small-#{$i} { width: $w; }
		}
	}

	@media screen and (min-width: 769px){
		@for $i from 1 to 13 {
			$w: ($i/12)*100%;
	  		.col-med-#{$i} { width: $w; }
		}
	}

	@media screen and (min-width: 993px){
		@for $i from 1 to 13 {
			$w: ($i/12)*100%;
	  		.col-lg-#{$i} { width: $w; }
		}
	}
}

.row-15 {
	@media screen and (max-width: 768px){
		@for $i from 1 to 16 {
			$w: ($i/15)*100%;
	  		.col-small-#{$i} { width: $w; }
		}
	}

	@media screen and (min-width: 769px){
		@for $i from 1 to 16 {
			$w: ($i/15)*100%;
	  		.col-med-#{$i} { width: $w; }
		}
	}

	@media screen and (min-width: 993px){
		@for $i from 1 to 16 {
			$w: ($i/15)*100%;
	  		.col-lg-#{$i} { width: $w; }
		}
	}
}