* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', arial, sans-serif;
	font-size: 21px;
	line-height: 166.6%;
	color: #6d6d6d;
	padding-top: 130px;

	@media screen and (max-width: 992px) {
		font-size: 18px;
		padding-top: 80px;
	}

	@media screen and (max-width: 767px) {
		font-size: 16px;
		padding-top: 80px;
	}
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3 {
	margin: 0;
	text-transform: uppercase;

	&.h-cinza {
		color: #6d6d6d;
	}

	&.h-preto {
		color: #000;
	}

	&.h-branco {
		color: #fff;
	}

	&.h-vermelho {
		color: $vermelho;
	}
}

h1 {
	font-size: 195.2380952%;
	line-height: 114.6341463%;
	font-weight: 900;
}

h2 {
	font-size: 195.2380952%;
	line-height: 114.6341463%;
	font-weight: 900;
}

h3 {
	font-size: 138.0952381%;
	line-height: 120.6896552%;
	font-weight: normal;
	margin: 10px 0;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.wrap-like-table {
	display: table;
	width: 100%;
	height: 100%;

	.wrap-like-table-content {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}
}

.btn {
	text-decoration: none;
	border: 0;
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;

	&.btn-vermelho {
		background: $vermelho;
		color: #fff;
		@include transition(.2s);
		
		&:hover {
			background: darken($vermelho, 8%);
		}
	}

	&.btn-mini {
		height: 40px;
		line-height: 40px;
		padding: 0 40px;
		font-size: 80%;
	}

	&.btn-small {
		height: 50px;
		line-height: 50px;
		padding: 0 50px;
		font-size: 90%;
	}

	&.btn-medium {
		height: 62px;
		line-height: 62px;
		padding: 0 60px;
		font-size: 100%;
	}

	&.btn-large {
		height: 70px;
		line-height: 70px;
		padding: 0 70px;
		font-size: 100%;
	}

	@media screen and (max-width: 767px){
		padding: 0 10px !important;
		height: 40px !important;
		line-height: 40px !important;
	}
}

::-webkit-input-placeholder {
   color: $vermelho;
   font-style: italic;
   font-weight: 100;
}

:-moz-placeholder { /* Firefox 18- */
   color: $vermelho;
   font-style: italic;  
   font-weight: 100;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $vermelho;
   font-style: italic;  
   font-weight: 100;
}

:-ms-input-placeholder {  
   color: $vermelho;
   font-style: italic;  
   font-weight: 100;
}

form {
	input,
	textarea {
		color: $vermelho;

		&.ipt-mini {
			height: 40px;
			line-height: 40px;
			padding: 0 30px;
			font-size: 80%;
		}

		&.ipt-small {
			height: 50px;
			line-height: 50px;
			padding: 0 30px;
			font-size: 90%;
		}

		&.ipt-medium {
			height: 62px;
			line-height: 62px;
			padding: 0 30px;
			font-size: 100%;
		}

		&.ipt-large {
			height: 70px;
			line-height: 70px;
			padding: 0 30px;
			font-size: 100%;
		}

		@media screen and (max-width: 767px){
			padding: 0 10px !important;
			height: 40px !important;
			line-height: 40px !important;
		}
	}
	textarea {
		line-height: 166%;

		&.ipt-mini {
			min-height: 105px;
			max-height: 105px;
			padding: 15px 30px;
		}

		&.ipt-small {
			min-height: 105px;
			max-height: 105px;
			padding: 15px 30px;
		}

		&.ipt-medium {
			min-height: 140px;
			max-height: 140px;
			padding: 15px 30px;
		}

		&.ipt-large {
			min-height: 140px;
			max-height: 140px;
			padding: 15px 30px;
		}

		@media screen and (max-width: 767px){
			padding: 10px !important;
		}
	}
}


header#header {
	height: 130px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 200;
	background: #fff;
	@include transition(.2s);

	.col,
	a.logo {
		@include transition(.2s);
		line-height: 130px;
	}

	&.fixo {
		height: 100px;
		.col,
		a.logo {
			line-height: 100px;
		}

	}

	&.reduzido {
		height: 80px;
		line-height: 80px;
		box-shadow: 0 0 5px rgba(0,0,0,.3);
		.col,
		a.logo {
			line-height: 80px;
		}
	}

	@media screen and (max-width: 767px){
		height: 100px;
		.col,
		a.logo {
			line-height: 100px;
		}
	}

	@media screen and (max-width: 992px){
		height: 80px;
		line-height: 80px;

		.col,
		a.logo {
			line-height: 80px !important;
		}
	}

	a.logo {
		display: inline-block;
		img {
			vertical-align: middle;
		}
	}

	nav.main-menu {
		ul {
			margin: 0;
			padding: 0;
			text-align: right;
			width: 100%;

			li {
				list-style: none;
				display: inline-block;

				a {
					font-size: 15px;
					padding: 0 10px;
					color: #000;
					text-transform: uppercase;
					text-decoration: none;
				}

				&:first-child {
					a {
						padding-right: 0;
					}
				}

				&:last-child {
					a {
						padding-right: 0;
					}
				}
			}
		}
		@media screen and (max-width: 992px) {
			position: fixed;
			left: 0;
			top: 80px;
			width: 100%;
			height: calc(100vh - 80px);
			background: $vermelho;
			line-height: normal;
			display: none;

			&.aberto {
				display: block;
			}

			ul {
				li {
					display: block;
					padding: 0;
					a {
						color: #fff;
						line-height: 40px;
						text-align: center;
						display: block;
						margin: 0;
						padding: 0;
						font-size: 13px;
						font-weight: bold;
					}
				}
			}
		}
		@media screen and (min-width: 769px) and (max-width: 992px) {
			left: auto;
			right: 0;
			width: auto;
			height: auto;

			ul {
				li {
					padding: 0 20px !important;
					a {
						text-align: right;
					}
				}
			}
		}

	}
	#controle-menu {
		position: fixed;
		top: 20px;
		right: 20px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		background: $vermelho;
		color: #fff;
		cursor: pointer;
		text-align: center;
		display: none;

		@media screen and (max-width: 992px) {
			display: block;
		}
	}
}

#bloco-lead {
	height: calc(100vh - 190px);
	background: #2a3025;
	color: #fff;
	text-align: center;
	background-image: url(../img/bg-dolar.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;

	@media screen and (max-height: 700px){
		height: calc(100vh - 160px);
	}

	@media screen and (max-width: 992px){
		height: calc(100vh - 140px);
		padding: 30px 0 60px;
	}

	@media screen and (max-width: 767px){
		height: auto;
		padding: 30px 0 60px;
	}

	h1, h2 {
		padding: 0 75px;
		margin: 0;
		font-weight: 900;
		font-size: 200%;
		line-height: 119%;
		text-transform: uppercase;
		@media screen and (max-width: 992px){
			padding: 0;
		}
		@media screen and (max-width: 767px){
			padding: 0;
			font-size: 120%;
		}
	}

	p {
		margin: 50px 0;
		line-height: 114.28%;
		@media screen and (max-width: 992px){
			margin: 15px 0;
		}
	}

	a.btn.btn-go-content {
		width: 56px;
		height: 56px;
		position: absolute;
		left: calc(50% - 28px);
		bottom: -28px;
		background: #fff;
		line-height: 56px;
		text-align: center;
		color: $vermelho;
		border-radius: 50%;



		@media screen and (max-width: 992px){
			/* width: 40px;
			height: 40px;
			line-height: 40px;
			bottom: -20px; */
			display: none;
		}
	}

	form {
		display: inline-block;
		position: relative;

		input, button {
			display: block;
			float: left;
		}

		input {
			width: 455px;
		}
		@media screen and (max-width: 767px){
			input,button {
				width: 100%;
				height: 40px;
				line-height: 40px;
				padding: 0 10px;
				text-align: center;
			}
		}

		button[disabled]{
			color: darken($vermelho, 15%);
		}

		.feedback {
			padding: 0px 15px;
			position: absolute;
			display: none;
			left: 0;
			top: -20px;
			height: 20px;
			line-height: 20px;
			font-size: 14px;
			&.erro {
				background: $vermelho; 
				display: block;
			}
			&.sucesso {
				display: block;
				background: #325f32;
			}
		}
	}

	.redes-sociais {
		position: absolute;
		top: calc(50% - 144px);
		left: 0;

		ul {
			li {
				display: block;
				float: left;
				clear: both;
			}
		}

		@media screen and (max-width: 992px){
			top: auto;
			bottom: 0;
			left: calc(50% - 144px);
			ul {
				li {
					clear: none;
				}
			}
		}
	}
}

nav.redes-sociais {
	ul {
		margin: 0;
		padding: 0;
		li {
			width: 48px;
			height: 48px;
			line-height: 48px;
			text-align: center;
			list-style: none;
			display: inline-block;

			a {
				display: block;
				margin: 0;
				padding: 0;
				color: #fff;
				@include transition(.2s);
			}

			a.facebook {
				background: #3b5998;
				&:hover {
					background: darken(#3b5998, 8%);
				}
			}

			a.twitter {
				background: #4099FF;
				&:hover {
					background: darken(#4099FF, 8%);
				}
			}

			a.linkedin {
				background: #007bb6;
				&:hover {
					background: darken(#007bb6, 8%);
				}
			}

			a.google-plus {
				background: #d34836;
				&:hover {
					background: darken(#d34836, 8%);
				}
			}

			a.email {
				background: #848484;
				&:hover {
					background: darken(#848484, 8%);
				}
			}

			a.whatsapp {
				background: #34af23;
				&:hover {
					background: darken(#34af23, 8%);
				}
			}
		}
	}

	&.black {
		li {
			width: 30px;
			height: 30px;
			line-height: 30px;
			a {
				background: #000 !important;
				color: #fff;
				border: 1px solid #fff;
				border-right: 0;

				&:hover {
					background: #111 !important;
				}
			}
			&:last-child {
				a {
					border-right: 1px solid #fff;
				}
			}
		}
	}

	&.float {
		li {
			float: left;
		}
	}
}

#bloco-release {
	.area-content {
		padding: 90px 0;

		@media screen and (max-width: 767px){
			padding: 40px 0;
		}

		h2 {
			margin-bottom: 20px;
		}

		&.gray {
			background: #282727;
			color: #fff;
		}
	}
}

#bloco-empiricus {
	background-image: url(../img/bg-conheca-empiricus.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	
	p {
		margin: 0 0 30px;
	}

	.container {
		padding: 80px 0;
		position: relative;

		@media screen and (max-width: 767px){
			padding: 40px 0;
		}

		.row {
			position: relative;
			z-index: 5;
		}

		.float-image {
			position: absolute;
			z-index: 1;
			right: 0;
			top: 0;
			height: 100%;
			width: auto;

			@media screen and (max-width: 767px){
				display: none;
			}
		}
	}
}

footer#footer {
	background: #000;
	color: #fff;
	padding: 30px 0;
	font-size: 14px;
	line-height: 16px;

	h3 {
		margin: 0 0 15px;
		font-size: 18px;
	}

	a {
		color: #fff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	.texto-legal {
		margin-top: 60px;
		font-size: 12px;
		line-height: 17px;

		@media screen and(max-width: 767px){
			margin-top: 30px;
		}
	}

	.row>.col {
		@media screen and(max-width: 767px){
			margin-bottom: 30px;
		}
	}
}